= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-horizontal
    .fieldset
      .form-group
        .col-lg-10
          .form-group
            = f.label :name, :class => "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :name, :class => "form-control"
          .form-group
            = f.label :about, :class => "col-lg-2 control-label"
            .col-lg-10
              = f.text_area :about, :class => "form-control"
          .form-group
            = f.label :contact, :class => "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :contact, :class => "form-control"
          .actions
            .form-group
              .col-lg-10.col-lg-offset-2
                = f.submit 'Save', :class => "btn btn-primary"
