%h1 Listing users

%table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th About
      %th Contact
  %tbody
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.about
      %td= user.contact
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
