%p#notice= notice
%legend Viewing Climber

.col-lg-6
  %h3
    = @user.name
    = link_to 'Edit', edit_user_path(@user), :class => "btn btn-info"
  .panel.panel-info
    .panel-heading
      %h4.panel-info-title About
    .panel-body
      %p= @user.about
%br
.container
.col-lg-6
  .panel.panel-info
    .panel-heading
      %h4.panel-info-title Climbs
    .panel-body
      - @user.attempts.each do |a|
        %p= "#{a.id}. #{a.date_attempted}"
%br
.col-lg-10
  = link_to 'Back', users_path, :class => "btn btn-default"
