= form_for @route do |f|
  - if @route.errors.any?
    #error_explanation
      %h2= "#{pluralize(@route.errors.count, "error")} prohibited this route from being saved:"
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .fieldset
      .form-group
        .col-lg-10
          .form-group
            = f.label :name, :class => "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :name, :class => "form-control"
          .form-group
            = f.label :grade, :class => "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :grade, :class => "form-control"
          .form-group
            = f.label :beta, :class => "col-lg-2 control-label"
            .col-lg-10
              = f.text_field :beta, :class => "form-control"
          .form-group
            .radio
              = f.label :location_id, :class => "col-lg-2 control-label"
              .col-lg-10
                = f.text_field :location_id, :class => "form-control"
          .actions
            .form-group
              .col-lg-10.col-lg-offset-2
                = f.submit 'Save', :class => "btn btn-primary"