%h1 Listing attempts

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Attempt ID
      %th User
      %th
  %tbody
    - @attempts.each do |attempt|
      %tr
        %td= attempt.id
        %td= attempt.user_id
        %td= link_to 'Show', attempt
        %td= link_to 'Edit', edit_attempt_path(attempt)
        %td= link_to 'Destroy', attempt, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Attempt', new_attempt_path
